$gap: 65px;

.advantages {
  background-image: url("images/basic-bg.png");
  background-size: 100% 100%;
  background-color: transparent;
  background-repeat: no-repeat;
  margin-top: -$gap;
  padding: 24px + $gap 0px;

  .advantages_items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
  }

  .advantages_item {
    min-width: 22%;
  }

  .advantages_items-title {
    font-size: $font-size-m;
    font-family: 'Russo One', Arial, sans;
  }
}
