.button {
  border: 2px solid $brand-color;
  padding: 14px 40px;
  text-decoration: none;
  display: inline-block;

  &:hover {
    text-decoration: none;
  }

  &.button--colored {
    border: 2px solid white;
    background-color: white;
    color: $brand-color;
  }
}
