@import url(https://fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Russo+One&subset=latin,cyrillic);

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: underline;
  }
}

body {
  font-size: $font-size-s;
  color: $text-color;
  font-family: 'Open Sans', Arial, sans;
  line-height: 1.5;
}

body, html {
  padding: 0;
  margin: 0;
}
