.order-form {
  background-color: $brand-color;
  padding: 20px 0;

  .order-form_container {
    width: 420px;
    text-align: center;
  }

  .order-form_input {
    display: block;
    width: 100%;
  }
}
