// Color palette
$brand-color: #C42026;
$text-color: #333;

// Indentation
$indent-base: 6px;
$indent-xs: $indent-base;
$indent-s: $indent-base * 2;
$indent-m: $indent-base * 3;
$indent-l: $indent-base * 4;
$indent-xl: $indent-base * 6;
$indent-xxl: $indent-base * 8;

// Font sizes
$font-size-s: 16px;
$font-size-m: 22px;
$font-size-l: 30px;
$font-size-xl: 40px;
